body{
      /*border: 2px solid #000;*/
    font-size: 20px;
    background-color: rgb(212, 113, 125);
}

header{
    border: 2px solid #000;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
    
    
}

header ul{

    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;  
} 

input{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

input:focus-visible{
    border: 1px solid #ccc;
    outline: none;
}

main{
display: flex;

}

iframe{
    margin: 35px;
}

header img{
    width: 150px;
    
}
header ul li img{
    width: 20px;
    
}
header ul li a{
    text-decoration: none;
}